@import url(_root.scss);

.cont2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: var(--dark);
  background-color: white;
  border-radius: 0.4em;
  height: 120%;
  overflow: hidden;
  display: flex;
  width: 100%;
  border: 1px solid gray;
  padding: 20px;
  flex-direction: column;
  h2 {
    font-weight: bold;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 40px;
    width: 120px;
    background-color: white;
    color: black;
    opacity: 100%;
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 12px;
    display: block;
  }
  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    transition: all 0.1s;
  }
  .row {
    justify-content: center;

    margin-bottom: 20px;
    margin-top: 20px;

    #pg-prev {
      display: block;

      ul {
        justify-content: left;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }

    #pg-next {
      display: block;

      ul {
        justify-content: right;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }
  }

  #button-login-sign {
    background-color: var(--fifty);
    border: none;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    width: 100%;
    h2 {
     position:relative;
     bottom: -50px;
    }
    .car {
      .carousel-control-next,
      .carousel-control-prev {
        margin-block-start: 15px;
        height: 30px;
        width: 90px;
      }
      .formulario-av {
        p {
          font-size: 12px;
          color: gray;
        }
        margin-top: 70px;
      
        h5,
        label {
          margin: 0;
          padding: 0;
          font-size: 18px;
        }
      }
      padding: 2px;
    }
  }

  @media (max-width: 320px) {
    width: 100%;
    h2 {
      position:relative;
      bottom: -40px;
     }
    .car {
      .carousel-control-next,
      .carousel-control-prev {
        margin-block-start: 15px;
        height: 20px;
        width: 60px;
      }
      .formulario-av {  p {
        font-size: 12px;
        color: gray;
      }
        margin-top: 50px;
        
        h5,
        label {
          margin: 0;
          padding: 0;
          font-size: 15px;
        }
      }
      padding: 2px;
    }
  }
}
#asterisco {
  color: var(--obrigatory);
}

.car {
  min-height: 50px;
  padding: 80px;
  text-align: center;
  a {
    margin-top: 20px;
  }
  .formulario-av {
    font-size: 20px;
    justify-content: center;
    text-align: justify;
    height: 30%;
    h5 {

          margin: 0;
          padding: 0;
      font-size: 25px;
      padding-bottom: 20px;
    }
    p {

          margin: 0;
          padding: 0;
      font-size: 15px;
    }
    .mb-3,
    .mb-4,
    .mb-5 {
      padding: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}
