@import url(../Sass/_root.scss);


.tittleCar {
    font-family: var(--default-font);
    color: rgb(246, 246, 246);
    background-color:rgba(0, 0, 0, 0.293);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#day1 {
    background: url("../imagens/c1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
#day2 {
    background: url("../imagens/c2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
#day3 {
    background: url("../imagens/c3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
#day4 {
    background: url("../imagens/c4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
#day5 {
    background: url("../imagens/c5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
}