.divCarousel {
    width: 100%;
    height: 32em;
    background-color: rgb(71, 71, 71);
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "d" ".";
    margin-top: 4.5em;
    align-items: center;

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        grid-area: d;
    }
}

#day1 {
    background-image: url("../imagens/c1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // -moz-filter: blur(2px);
    // -o-filter: blur(2px);
    // -ms-filter: blur(2px);

}


#day2 {
    background-image: url("../imagens/c2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // -moz-filter: blur(2px);
    // -o-filter: blur(2px);
    // -ms-filter: blur(2px);
}

#day3 {
    background-image: url("../imagens/c3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // -moz-filter: blur(2px);
    // -o-filter: blur(2px);
    // -ms-filter: blur(2px);
}

#day4 {
    background-image: url("../imagens/c4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // -moz-filter: blur(2px);
    // -o-filter: blur(2px);
    // -ms-filter: blur(2px);
}

#day5 {
    background-image: url("../imagens/c5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // -moz-filter: blur(2px);
    // -o-filter: blur(2px);
    // -ms-filter: blur(2px);
}