@import url(../Sass/_root.scss);

#footer {
    width: 100%;
    height: 3em;
    background-color: var(--tertiary);
    display: flex;
    color: rgb(209, 209, 209);
    align-items: center;
    justify-content: center;
    font-family: var(--default-font);

    #marca {
        display: flex;
        justify-content: center;
        font-size: 0.8em;
        padding: 0;
    }
}