@import url(../Sass/_root.scss);

#footer {
    width: 100%;
    height: 3em;
    background-color: var(--dark);
    display: flex;

    align-items: center;
    justify-content: center;
    font-family: var(--default-font);

    #marca {
        display: flex;
        justify-content: center;
        font-size: 1em;
        padding: 0;
        color: var(--gray);
    }
}