#footer {
    width: 100%;
    height: 4em;
    background-color: #212529;
    display: flex;
    color: #4a4a4a;
    align-items: center;
    justify-content: center;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

   #marca {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    padding: 0;
   }
} 