@import url(../Sass/_root.scss);

* {
    font-family: var(--default-font);

    #btLogin:hover {
        transition: all 0.5s ease;
    }
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

#ic-login {
    position: relative;
    top: -1.5px;
    height: 1em;
    width: 1.5em;
}

#logo {
    width: max(200px);
}

#nbar {
    justify-content: space-around;
    height: 3em;
}

#logo {
    height: 140px;
    width: 140px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -12px;
}

#link {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar-cnf {
    background-color: var(--light);
}

#btLogin {
    color: var(--light);
    background-color: var(--secundary);
    border: none;
    border-radius: 0.7em;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1em 0.8em 1em;
    display: flex;
    width: 100%;
    text-align: center;
    box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.2);

    #btLogin:hover {
        background-color: var(--fifty);
    }
}

.me-auto,
.me-auto2 {
    align-items: center;

    #nv-link {
        padding: 5px;
        color: var(--primary);
    }
}

.dropdown {

    #dropdown-divider {
        background-color: var(--light);
    }

    .dropdown-menu {
        padding: 0;
        background-color: var(--secundary);
        

        a {
            padding: 3px;
        }

        #drp-link {
            flex-direction: column;
            display: flex;
            text-align: center;
            align-items: center;
            color: var(--light);
        }

        @media (max-width: 990px) {
            #drp-link {
                padding-left: 120px;
                padding-right: 120px;
            }
        }

        @media (max-width: 280px) {
            #drp-link {
                padding-left: 80px;
                padding-right: 80px;
            }

        }

        #drp-link:hover {
            background-color: var(--primary);
            color: var(--light);
            border-radius: 5px;
        }
    }
}

.nav-toggle {
    @media (max-width: 990px) {
        text-align: center;
        padding-bottom: 20px;
    }
}

#toggle-nav {
    box-shadow: 0;
    border: none;
}

.ic-nbar {
    height: 1em;
    width: 1em;
    padding: 0;
}

@keyframes rotateIcon {
    0% {
        transition: all 0.3s ease;
        transform: rotate(0deg);
    }

    100% {
        transition: all 0.3s ease;
        transform: rotate(90deg);
    }
}

.rotate .navbar-toggler {
    box-shadow: none !important;
}

.rotate .navbar-toggler:not(.collapsed) {
    filter: brightness(0) invert(1);
}

.rotate .navbar-toggler-icon {
    transition: all 0.3s ease;
    animation: rotateIcon 0.3s;
    animation-fill-mode: forwards;
    border: none;
}

//    background-color: var(--white);
//backdrop-filter: blur(5px); /* Cambia el valor de '5px' según el nivel de desenfoque deseado */
//-webkit-backdrop-filter: blur(5px); /* Para compatibilidad con navegadores basados en WebKit */