@import url(../Sass/_root.scss);
#root{
    
  background-image: url("../imagens/wpp4.jpg"); /* Define a imagem de fundo */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-size: cover; /* Redimensiona a imagem para preencher todo o elemento pai */
  background-position: center; /* Posiciona a imagem no centro do elemento */

  
}
#container-main {
    width: 100%;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
    

    @media (max-width: 992px) {
        height: 160vh;
        display: grid;
        justify-content: space-around;
    }
    
    
}
.card{
        
    display: flex;
    border-radius: 2rem;
    height: 100%;
    width: 100%;

    .bt-more {
        background-color: var(--fifty);
        border: none;
    }
}
