@import url(../Sass/_root.scss);
#root{
    background-color: var(--dark);
}
#container-main {
    width: 100%;
    justify-content: space-between;
    height: 150vh;
    align-items: center;
    

    @media (max-width: 767px) {
        
        display: grid;
        justify-content: space-around;
    }
    
    
}
.card{
        
        display: flex;
        border-radius: 1rem;
        border: 1px solid var(--color-font-gray);
        height: 100%;
        width: 100%;

        .bt-more {
            background-color: var(--fifty);
            border: none;
        }
    }