@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@300 & display=swap');
:root {
    --primary:#00bf63;
    --secundary: #FF9F1C;
    --tertiary: #212925;
    --light: #FDFFFC;
    --dark: #212529;
    --error: #e71d36;
    --alert: blue;
    --default-font: 'Roboto', sans-serif;
    --color-font-gray: #747474;
}
