@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
:root {
// root
    --primary:#118d26;
    --secundary: #2e884b;
    --tertiary: #57C4E5;
    --quarter: #F97068;
    --fifty:#295e52;
// background
    --light: #EDF2EF;
    --dark: #212529;
    --gray: #b6b6b6;
// text-shadow
    --error: #e71d36;
    --alert: blue;
    --default-font: 'Montserrat', sans-serif;
    --color-font-gray: #747474;
}

