.container-about {
  width: 100%;
  align-items: center;
  height: 105vh;
  background-color: white;
}
#cont-about {
    background-color: aqua;
    padding: 20px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}