@import url(root.scss);


h1 {
  .bt-car {
    border: 1px solid rgba(255, 255, 255, 0.386) !important;
    border-radius: 10px !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1em 2em 1em 2em !important;
    height: 2.5em !important;
    width: 10em;
    display: flex !important;
    background: none !important;
    filter: brightness(1.3) !important;
    position: relative !important;
    bottom: -10em !important;
    background-color: none !important;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(6px) !important;
    transition: all 0.5s ease !important;
  }

  .bt-car:hover {
    transition: all 0.5s ease !important;
    width: 11em !important;
    background: none !important;
    border: 1px solid white !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
  }
  .bt-car:focus{

    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    border: 0.5px solid rgba(255, 255, 255, 0.225) !important;
    background: none !important;
  }
}

.tittleCar {
  margin-top: 80px !important;
  font-family: var(--default-font);
  color: rgb(246, 246, 246);
  background-color: rgba(0, 0, 0, 0.508);
  width: 100%;
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#day1 {
  background: url("../images/c1.jpg");
  
  
}

#day2 {
  background: url("../images/c2.jpg");
}

#day3 {
  background: url("../images/c3.jpg");
}

#day4 {
  background: url("../images/c4.jpg");
}

#day5 {
  background: url("../images/c5.jpg");
}
#day1,
#day2,
#day3,
#day4,
#day5 {
  transition: all 1.5s;
  background-size: cover;
}

