@import url(root.scss);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.dashboard {
  height: 100vh;
  overflow: hidden;

  .off-btn {
    background: transparent !important;
    color: #585858 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    .hydrated {
      width: 1.8rem;
      height: 2rem;
    }
  }
  .redm {
    border-right: #a5a5a5 1px dotted;
    @media (max-width: 990px) {
      display: none !important;
    }
    @media (max-width: 1460px) {
      width: 25%;
    }
  }
}

.card-side {
  background-color: #edeff2;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}
.sidebar {
  height: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
}
.fig {
  border: 1px solid #f8f9fa;
  border-radius: 100%;
}
.stack-log {
  justify-self: end;
  justify-content: end;
  .btn {
    background-color: rgba(255, 91, 91, 0.403) !important;
    border: transparent !important;
    color: rgb(255, 63, 63) !important;
  }
}
.stack-bt {
  .btn {
    height: 45px;
    background: transparent;
    border: transparent;
    justify-content: start;
    display: flex;
    align-content: center;
    font-size: 1em;
    color: var(--gray);
  }
  .btn:focus {
    color: var(--gray) !important;
    background-color: #edeff2;
  }
  .btn:active {
    color: var(--gray) !important;
    background-color: #edeff2;
  }
  .btn:hover {
    background-color: #edeff2;
  }
}
.col-dash-cont {
  height: 100%;
  overflow: hidden;
  h2 {
    font-weight: bolder;
  }
  .card-top-2 {
    background-color: #ffe9e6;
    color: #c77e72;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    .hydrated {
      background: linear-gradient(45deg, #ff4081, #f50057);
      border-radius: 100%;
      padding: 10px;
      font-size: x-large !important;
      color: white;
    }
    .row {
      font-family: "Quicksand", sans-serif !important;
    }
    @media (max-width: 990px) {
      .c-2 {
        display: none !important;
      }
      .col-md-12 {
        align-items: center;
        justify-content: center;
      }
    }
  }
  .card-top-4 {
    background-color: #edeff2;
    color: #585858;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    .hydrated {
      background: linear-gradient(45deg, #c9caca, #585858);
      border-radius: 100%;
      padding: 10px;
      font-size: x-large !important;
      color: white;
    }
    .row {
      font-family: "Quicksand", sans-serif !important;
    }
    @media (max-width: 990px) {
      .c-2 {
        display: none !important;
      }
      .col-md-12 {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card-top-1 {
    background-color: #d4f9df;
    color: #4d6d57;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    .hydrated {
      background: linear-gradient(45deg, #8bc34a, #43a047);
      border-radius: 100%;
      padding: 10px;
      font-size: x-large !important;
      color: white;
    }
    .row {
      font-family: "Quicksand", sans-serif !important;
    }
    @media (max-width: 990px) {
      .c-2 {
        display: none !important;
      }
      .col-md-12 {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card-top-3 {
    background-color: #fffed4;
    color: #a3a06b;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    .hydrated {
      background: linear-gradient(45deg, #ffeb3b, #ffc107);
      border-radius: 100%;
      padding: 10px;
      font-size: x-large !important;
      color: white;
    }
    .row {
      font-family: "Quicksand", sans-serif !important;
    }
    @media (max-width: 990px) {
      .c-2 {
        display: none !important;
      }
      .col-md-12 {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card {
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(138, 138, 138, 0.1),
      0 1px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
  }
}
.active-sidebar {
  border-radius: 8px !important;
  background-color: #edeff2 !important;
  :hover {
    background-color: #edeff2 !important;
  }
  :active {
    background-color: #edeff2 !important;
  }
}

.div-resp {
  @media (max-width: 990px) {
    margin-top: 1.5rem;
  }
}
.cont-nv {
  height: 80px;
  border-bottom: #a5a5a5 1px dotted;
  .rr {
    background: transparent !important;
  }
}

.row-resp-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cp {
  td,
  th {
    min-width: 150px !important;
    height: 60px !important;
  }
}
.calendar {
  border: 0.5px solid #e2e5e9 !important;
  border-radius: 5px;
}
