.offcanvas-body {
  .container {
    padding: 0;
    height: 100%;
  }

  #r-div {
    transition: all 0.5s;
    justify-content: space-around;
    height: 100%;

    .hydrated {
      font-size: 1em !important;
    }
    .dropup {
      .btn {

      border: 0 !important
      }
  }
    .btn {
      border: 0 ;
      font-size: large !important;
      border-radius: 50px !important;

      // align-items: end !important;
      // text-align: end !important;
      p {
        padding-left: 10px;
        margin: 0 !important;
        font-size: 1em;
      }
    }

    .btn:active {
      background-color: white !important;
      color: var(--gray) !important;
    }

    h1 {
      font-size: x-large;
    }

    @media(max-width: 540px) {
      padding: 5%;
      transition: all 0.5s;
    }
  }

  div {
    width: 100%;

  }

  #r-b {
    display: flex;
    align-items: end;

  }

  section {
    width: 100%;
    height: 100%;
  }

  display: flex;

  .list-group {
    padding: 0;
  }

  .list-group-item {
    border: none;
  }

  .row {
    margin: 0;

    padding: 0;

    a {
      text-align: justify;
      padding: 0;
      color: #595959;

      h1 {
        font-weight: 300;

        @media(max-width: 768px) {
          font-size: x-large;
        }

      }
    }

    button {
      background-color: var(--white) !important;
      color: var(--primary) !important;
      border: 1px solid var(--primary) !important;
      transition: all 0.5s !important;
      border-radius: 0.375rem !important;
      padding: 10px;
    }

    .btn:active {
      transition: all 0.5s !important;
      background-color: var(--primary) !important;
      color: var(--white) !important;
      border: none !important;
    }
  }
}

.navbar {
  display: flexbox;
  z-index: 900000000;
  transition: all 0.5s;

  .hydrated {
    font-size: 1em !important;
  }

  background-color: var(--white);
  // box-shadow: 0 1px 5px #888888;

  .div-link {
    padding: 10px;
  }

  width: 100%;

  .container {
    display: flex;
  }

  .navbar-brand {
    a {
      color: var(--gray);
    }

    h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      text-transform: lowercase;
      margin: 0;

    }

    .btn {
      display: flex;
      width: 100%;
      background-color: var(--white) !important;
      color: var(--primary) !important;
      border: 1px solid var(--primary);
      transition: all 0.5s !important;
      align-items: center;
      border-radius: 50px !important;
      padding: 5px 20px;
      justify-content: center;

    }

    #dropdown-autoclose-true {
      border: none !important;
    }

    #dropdown-autoclose-true:active {

      background-color: var(--white) !important;

      color: var(--primary) !important;
    }

    .btn:active {
      transition: all 0.5s !important;
      background-color: var(--primary) !important;
      color: var(--white) !important;
      border: none !important;
    }

    margin: 0;

    .figure {
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 0;

      img {
        margin: 0;
      }
    }

    .me-auto {
      align-items: center;
      display: flex;
    }
  }
}

.navbar-toggler {
  display: flex !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.btn-check {
  display: flex;
  width: 2em;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  align-items: center;

  .navbar-toggler-icon {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent !important;
  }
}

.offcanvas-body {
  .row {
    a {
      text-align: center;
    }
  }
}

.offcanvas {
  transition: all 0.5s;
  height: 100% !important;

  .offcanvas-header {
    align-items: center !important;
    display: flex;
    justify-content: center;


    .btn-close {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: right !important;
      height: 100%;
      padding: 0;
      font-size: 0.8em;
    }

    .btn-close:active {
      box-shadow: none;
    }

    .offcanvas-title {
      img {
        margin: 0;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .row {
        display: flex;
        justify-content: center;
        align-items: center;

        .col {
          margin: 0 !important;

          .figure {
            margin: 0 !important;
          }

          a {
            margin: 0;

            h2 {

              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: bold;
              text-transform: lowercase;
              margin: 0;
              font-size: 2em !important;
              height: 100%;
              color: #595959;
            }
          }
        }
      }
    }
  }

  .btn-close {
    margin: 0 !important;

  }
}

#toggle-nav {
  justify-content: center;
  align-items: center;
  background-color: #888888 !important;
  position: fixed;
  display: none !important;

  label {
    display: flex;
    justify-content: center;
    color: #595959;
    align-items: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.flex-nowrap {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  padding: 0 !important;
  border-bottom: 1px solid var(--lgray);

  @media(max-width: 768px) {
    padding: 16px !important;
  }

}

#nav-cont {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-left: 0;
  margin-right: 0;

  .row {
    width: 100%;
    margin: 0;

    .col {
      .btn {
        width: 100% !important;
        background-color: transparent !important;
        color: #595959 !important;
        border: none !important;
        height: 100% !important;
      }

      display: flex;
      align-items: center;
      justify-content: center;

      .figure {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 100%;

        img {
          margin: 0;
        }
      }
    }
  }
}

// .settings-bt {
//   .btn {
//     border-color: #595959 !important;
//   }
// }
.settings-bt {
  ion-icon {
    transition: transform 0.5s ease; // Adiciona uma transição suave para a animação
  }

  &.rotate {
    ion-icon {
      transform: rotate(60deg); // Define a rotação completa como 360 graus
    }
  }
}

.custom-toggle.dropdown-toggle::after {
  display: none !important;
}

@keyframes cascadeAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-dropdown-item {
  animation: cascadeAnimation 0.3s ease forwards;
  opacity: 0;
}

// Adicione esta classe ao seu componente React para que a animação seja aplicada
.cascading-animation {
  .custom-dropdown-item {
    animation-delay: 0.1s;
  }
}


.dropdown-menu {
  a {
    font-weight: 500 !important;
  }
  a:active {
    background-color: transparent !important;
    color: var(--primary);

  }

  .logout-drop {
    color: #dc3545 !important;
  }
}