@import url(root.scss);

.modal-dialog {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal-content {
  align-items: center;
  border: none;

}
.modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
}

.spinner-border {
  width: 3em;
  height: 3em;
}