@import url(root.scss);

#root {
  height: 100vh !important;
}

#div-z-cont {
  // margin-top: 80px !important;
  height: 100%;

  @media(max-width:540px) {
    height: 80%;
  }

  box-sizing: inherit;
  display: flex;

  #arrow {
    justify-content: left;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;

    .figure {
      width: 25px;
      display: flex;

      align-items: center;
    }

  }

  section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 768px) {
      flex-direction: column;

      #as {
        order: 2;
      }

      h1 {
        text-align: center;
      }
    }
  }

  p {
    text-align: justify;

    font-weight: 300;
    line-height: 1.5;
  }

  h1 {

    font-size: xx-large;
    color: var(--gray);
    text-align: center;
    font-weight: 100;
  }

  .row {
    @media(max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;

  }

  background-color: white;
}

.modal-dialog {
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  align-items: center;
  border-radius: 20px !important;
  border: none;

}

.modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
}

.spinner-border {
  width: 3em;
  height: 3em;
}

// Aqui é a parte da coleta

.coleta-modal {
  .form-check-input {
    box-shadow: none !important;

    &::after {
      box-shadow: none !important;
    }
  }

  label {
    margin: 0;
  }

  .modal-body {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .modal-content {
    padding: 0;
    margin-top: 80px;
    width: 70vw;

    @media(min-width: 1200px) {
      margin-top: 10px;
      width: 45vw !important;
    }

    @media(max-width: 768px) {
      margin: 0 !important;
      border-radius: 0 !important;
      width: 100% !important;
    }
  }

  .modal-dialog {
    @media(max-width: 768px) {
      margin: 0 !important;
      width: 100% !important;
    }
  }

  .col-md-12 {
    .row-coleta {
      margin: 20px !important;
      background-color: var(--lgray);
      padding: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;

    }

    display: flex;
    justify-content: center;
    align-items: center;

    div {
      justify-content: center;
      display: flex;

    }
  }

  .form-check {

    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-check-input {
      // width: ;
      margin-right: 20px;
    }
  }
}

.cancelar::after {
  background-color: red;
}

.o-cancelar {
  order: 0 !important;
  @media(max-width: 768px) {
    order: 1 !important;
  }

  a {
    text-decoration: none;
  }

  .btn:active {
    background-color: #dc3545 !important;
    color: white !important;
  }
  .btn:focus {
    background-color: #dc3545 !important;
    color: white !important;
  }

  .btn::after {
    background-color: #dc3545 !important;
    color: white !important;
  }
}
.o-enviar {
  order: 1 !important;
  @media(max-width: 768px){
    order: 0 !important;
  }
}