@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Didact+Gothic&family=Lexend:wght@100;900&display=swap');

@media(max-width: 768px) {
  .logo-tog {
    display: none !important;
  }
}

.login-cont {
  section {
    .row {
      align-items: start !important;

    }
  }
}

::selection {
  background: var(--primary);
  color: #fff;
}

::-moz-selection {
  background: #1f6a8f;
  color: #fff;
}

@media(max-width: 768px) {

  h1 {
    font-size: medium;
  }
}

* {
  scroll-behavior: smooth;
}

.btn {
  border-radius: 0.9em !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
  border: 1px solid !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  width: 8vw;
}

#form-login {
  #div-arrow {
    width: 300px;

    @media(max-width: 375px) {
      width: 100% !important;
    }

    @media(max-width: 540px) {

      width: 75%;
    }
  }

  #div-form-l {
    width: 300px;
    // height: 400px;

    @media(max-width: 375px) {
      width: 90% !important;
      height: 90% !important;
    }

    @media(max-width:540px) {
      width: 85%;
      height: 85%;

    }
  }


  @media(max-width: 540px) {
    padding: 0 !important;
    border: none;
    transition: all 0.5s;
  }

  @media(max-width: 768px) {
    padding: 0px 48px;
  }

  input {
    padding: 13px 15px;
    margin: 5px 0px;
    transition: all 0.5s;
    color: rgb(32, 33, 36);
  }

  .form-control:focus {
    transition: all 0.5s;
    box-shadow: none;
    border-color: var(--primary);

  }



  padding:0px 120px;
  min-height: 500px;

  margin: 0;
  margin-top: 20px;
  border: 1px solid #dadce0;

  .figure {
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;


    img {
      margin: 0;
      padding: 0;

    }
  }

  .mb-4 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;

    .in-section {
      width: 45%;
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;

    }

    #linha-vertical {
      border: 1px solid #d1d1d1;
      height: 80%;
    }
  }

  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;

  #div-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 50%;
    }

    a {
      font-weight: bold;
      color: var(--primary);
      text-align: left;
      text-decoration: none;
      width: 50%;
    }
  }



}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.progress-bar {
  background-color: var(--primary) !important;
}

.form-check-inline {
  margin-left: 0;
  margin-right: 0 !important;
}

.btn:active {

  background-color: var(--quarter) !important;
  color: var(--white) !important;
  border: 1px solid transparent !important;

}

.cont {
  resize: none;

  #in-cont {
    width: 50%;
  }

  color: var(--dark);
  background-image: url(../images/ifes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  min-height: 88vh;
}

#root {
  width: 100%;
  background-color: white;
}

html,
body {

  // height: 100vh !important;
  margin: 0;
  padding: 0;
}

#asterisco {
  color: var(--obrigatory);
}

.container {
  justify-content: center;
  display: flex;
}

.cont2 {
  padding: 5em;
  color: var(--dark);
  background-color: white;
  overflow: hidden;
  display: flex;
  width: 70%;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;


    #inline-radio-5:checked,
    #inline-radio-5:hover {
      background-image: url(../images/5.png) !important;
      background-color: transparent !important;
      opacity: 1;
      box-shadow: none;
    }

    #inline-radio-5 {
      width: 3em;
      border: none;
      background-image: url(../images/5.png) !important;
      height: 3em;
      opacity: 0.5;
    }

    #inline-radio-4 {
      width: 3em;
      height: 3em;
      border: none;
      background-image: none;
      background-image: url(../images/4.png) !important;
      opacity: 0.5;
    }

    #inline-radio-4:checked,
    #inline-radio-4:hover {
      background-image: url(../images/4.png) !important;
      background-color: transparent !important;
      opacity: 1;
      box-shadow: none;
    }

    #inline-radio-3 {
      width: 3em;
      border: none;
      height: 3em;
      opacity: 0.5;
      background-image: url(../images/3.png) !important;
    }

    #inline-radio-3:checked,
    #inline-radio-3:hover {
      background-image: url(../images/3.png) !important;
      background-color: transparent !important;
      opacity: 1;
      box-shadow: none;
    }

    #inline-radio-2 {
      width: 3em;
      height: 3em;
      border: none;
      opacity: 0.5;
      background-image: url(../images/1.png) !important;
    }

    #inline-radio-2:checked,
    #inline-radio-2:hover {
      background-image: url(../images/1.png) !important;
      background-color: transparent !important;
      opacity: 1;
      box-shadow: none;
    }

    #inline-radio-1 {
      width: 3em;
      border: none;
      background-image: url(../images/2.png) !important;
      opacity: 0.5;
      height: 3em;
    }

    #inline-radio-1:hover,
    #inline-radio-1:checked {
      background-image: url(../images/2.png) !important;
      background-color: transparent !important;
      opacity: 1;
      box-shadow: none;
    }
  }
}

* {
  @media (max-width: 2560px) {
    font-size: x-large;
  }

  @media (max-width: 1920px) {
    font-size: medium;
  }

  @media (max-width: 1440px) {
    font-size: medium;
  }

  @media (max-width: 1024px) {
    font-size: medium;
  }

  @media (max-width: 768px) {
    font-size: medium;
  }

  @media (max-width: 540px) {
    font-size: medium;
  }

  @media (max-width: 320px) {
    font-size: small;
  }

  @media (max-width: 280px) {
    font-size: small;
  }

  line-height: 30px;
}

#progress-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-nav {
  width: 50vw;
  position: fixed;
  margin: 14vh;
  height: 2em;
  border-radius: 10em;

  .container {
    width: 100%;
    height: 100%;
    z-index: 0;

    #progress-bar {
      width: 100%;
      border-radius: 10em;
    }
  }
}

:root {

  --primary: #1acf8a;
  --secundary: #363537;
  --tertiary: #0a1e10;
  --quarter: #0e9956;
  --fifty: #1a1a1a;
  --white: #ffffff;
  --light: #fafafa;
  --dark: #0f110c;
  --lgray: #e9ecef;
  --gray: rgb(0 0 0 / 65%);
  --obrigatory: rgb(129, 0, 0);
  --error: #e71d36;
  --alert: blue;
  --default-font: 'Quicksand', sans-serif;
  --color-font-gray: #747474;
}

.spinner-border {
  color: #1acf8a !important;
}

.spinner-modal {
  .modal {
    --bs-modal-width: 100vw !important;
  }

  .modal-dialog {
    justify-content: center !important;
    display: flex !important;

  }

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  display: flex !important;
  flex-direction: column;
  width: 100vw !important;
  justify-content: start;
  align-items: center !important;
  padding: 0 !important;

  .modal-body {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

    .row {
      width: 100%;
    }
  }

  form {
    width: 100%;

    .form-check {
      width: 100%;
    }
  }

  .modal-dialog {
    max-width: 100%;
    margin: 20px;
    width: 100% !important;

    @media(max-width: 540px) {
      margin: 0;
    }
  }

  width: 100% !important;

  .modal-content {
    padding: 20px;
    width: 500px !important;

    @media(max-width: 540px) {
      width: 100% !important;
      border-radius: 0;
    }
  }
}