.s-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    @media (max-width: 375px) {
      margin: 0 !important;
    }
  }
}

.cont-s{
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  form {
    @media (max-width: 375px) {
      margin: 0 !important;
    }
  }
}

.alert-row {
  padding-left: 20px;
  margin: 0;
  width: 100%;
  align-items: left;
  z-index: 200;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .alert {
    @media (max-width: 768px) {
      width: 300px;
      animation-name: exampleResp;
    }

    margin: 10px 0px;
    display: flex;
    justify-content: center;

    width: 300px;
    height: 50px;
    animation-name: example;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition: all 1s !important;
  }
}

@keyframes example {
  from {
    left: -50px;
  }

  to {
    left: 20px;
  }
}

@keyframes exampleResp {
  from {
    top: 0;
  }

  to {
    top: 20px;
  }
}

.bt-tamanho {
  height: 40px;
  width: 50%;
}
.row-cont {
  height: 100%;
}